<div class="card">
  <div class="card-header">
    <h3>List Role</h3>
  </div>
    
  <div class="card-body">								
    <button class="btn btn-primary mb-2" (click)="detailRole()"><i class="fa fa-plus mr-2" ></i>Add role</button>
    <button class="btn btn-primary mb-2 ml-2" (click)="clickSuccess()">Test Success</button>
    <table class="table table-reponsive table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th class="text-center" style="width:120px"></th>
        <th style="width:250px">Code</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items">
        <th class="text-center">
          <button class="btn btn-info mr-1" (click)="detailRole(item)"><i class="fa fa-pencil"></i></button>
          <button class="btn btn-danger" (click)="deleteRole(item)"><i class="fa fa-trash"></i></button>
        </th>
        <td class="align-middle">{{item.Name}}</td>
        <td class="align-middle">{{item.Description}}</td>
      </tr>
      </tbody>
    </table>
    
  </div>														
</div>