<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <div class="breadcrumb-holder">
        <h1 class="main-title float-left">Role</h1>
        <ol class="breadcrumb float-right">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!-- end row -->
  <div class="card">
    <div class="card-header">
      <h3>
        <i class="fa fa-table"></i> Bordered table</h3>
      Add
      <i>.table-bordered</i> for borders on all sides of the table and cells.
      <a target="_blank" href="https://getbootstrap.com/docs/4.0/content/tables/#bordered-table">(more info)</a>
    </div>
    <div class="card-body">
      <table class="table table-sm table-reponsive table-bordered table-striped table-hover">
        <thead class="thead-light">
          <tr>
            <th class="text-center" style="width:50px">#</th>
            <th style="width:200px">Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items;let idx = index">
            <th>{{idx+1}}</th>
            <td>{{item.Name}}</td>
            <td>{{item.Description}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<!-- END container-fluid -->